In [20]:
import pandas as pd

base = pd.read_excel("Brasileiro pontos corridos.xlsx")

base_2023 = base.copy()

df_2023 = base_2023[base_2023['season'] == 2023]

df_2023_sorted = df_2023.sort_values(by=['points', 'won'], ascending=False)

base_2023.loc[base_2023['season'] == 2023] = df_2023_sorted.values

display(base_2023)

base_2023.to_excel("Brasileiro Pontos corridos 2003-2023.xlsx", index=False)

,season,place,acronym,team,points,played,won,draw,loss,goals_for,goals_against,goals_diff
0,2003,1,CRU,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,SAN,Santos,87,46,25,12,9,93,60,33
2,2003,3,SAO,SaoPaulo,78,46,22,12,12,81,67,14
3,2003,4,SCA,SaoCaetano,74,46,19,14,13,53,37,16
4,2003,5,CFC,Coritiba,73,46,21,10,15,67,58,9
...,...,...,...,...,...,...,...,...,...,...,...,...
423,2023,16,ECB,Bahia,44,38,12,8,18,50,53,-3
424,2023,17,SAN,Santos,43,38,11,10,17,39,64,-25
425,2023,18,GOI,Goias,38,38,9,11,18,36,53,-17
426,2023,19,CFC,Coritiba,30,38,8,6,24,41,73,-32
427,2023,20,AMG,America-MG,24,38,5,9,24,42,81,-39